/*----------------------------------------*/
/*  07. WIDGET CSS START
/*----------------------------------------*/


.widget {

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--primary);
    text-transform: capitalize;
    margin-bottom: 15px;

    @include dark {
      color: var(--green);
    }
  }

  &__search {
    padding: 30px;
    border-radius: 20px;
    background: #F9F9F9;
    margin-bottom: 30px;

    @include dark {
      background: var(--black);
    }

    @media #{$lg} {
      padding: 30px 15px;
    }

    form {
      position: relative;
    }

    input {
      width: 100%;
      border: none;
      font-weight: 400;
      font-size: 14px;
      color: #999999;
      outline: none;
      padding: 10px 40px 10px 10px;
      position: relative;
      border-radius: 3px;
      background-color: #f6f6f6;
      border: 1px solid #E1E1E1;
      font-family: var(--font-inter);

      &::placeholder {
        opacity: 1;
      }
    }

    .submit {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 7px;
      top: 7px;
      color: var(--white);
      background-color: var(--green);
      background-repeat: no-repeat;
      background-position: 18px;
      border-radius: 3px;
      outline: none;
      border: none;
    }
  }

  &__category {
    padding: 30px;
    border-radius: 20px;
    background: #F9F9F9;
    margin-bottom: 30px;

    @include dark {
      background: var(--black);
    }

    @media #{$lg} {
      padding: 30px 15px;
    }

    ul {
      li {
        padding-bottom: 10px;

        &:first-child {
          padding-top: 15px;
          border-top: 1px solid #EFEFEF;

          @include dark {
            border-color: var(--black-3);
          }
        }

        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #999999;
          display: flex;
          justify-content: space-between;
          gap: 20px;
          position: relative;
          border-bottom: 1px solid #EFEFEF;
          font-family: var(--font-inter);
          padding-bottom: 15px;

          @include dark {
            border-color: var(--black-3);
          }

          &::before {
            position: absolute;
            content: "\f054";
            width: 100%;
            height: 100%;
            inset-inline-start: 0;
            top: 0;
            font-weight: 700;
            font-family: "Font Awesome 6 Free";
            opacity: 0;
            transition: all 0.3s;
            font-size: 14px;
          }

          &:hover {
            padding-inline-start: 15px;
            color: var(--primary);

            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__recent {
    padding: 30px;
    border-radius: 20px;
    background: #F9F9F9;
    margin-bottom: 30px;

    @include dark {
      background: var(--black);
    }
  }


  &__tags {
    padding: 30px;
    border-radius: 20px;
    background: #F9F9F9;
    margin-bottom: 30px;

    @include dark {
      background: var(--black);
    }

    @media #{$lg} {
      padding: 30px 15px;
    }

    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px 16px;
    }

    li {
      display: inline-block;

      &:last-child {
        a::after {
          display: none;
        }
      }

      a {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--gray);
        text-transform: capitalize;
        font-family: var(--font-inter);
        position: relative;

        @include dark {
          color: var(--gray-2);
        }

        &::after {
          font-size: 14px;
          position: absolute;
          content: "/";
          width: 100%;
          height: 100%;
          inset-inline-end: calc(-100% - 5px);
          top: 0;
          transition: all 0.3s;
        }

        &:hover {
          color: var(--green);
        }
      }
    }
  }

  &__share {
    padding: 30px;
    border-radius: 20px;
    background: #F9F9F9;
    margin-bottom: 30px;

    @include dark {
      background: var(--black);
    }

    @media #{$md} {
      margin-bottom: 0;
    }

    li {
      a {
        font-size: 24px;

        i {
          transition: all 0.3s;
        }

        &:hover {
          color: var(--green);

          i {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}